# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*
